/*
GENERAL SETTING
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
CONTAINER APP
*/

.container_app{
    height: 100vh;
    width: 100vw;
}

main{
    background-color: #212529 ;
    display: flex;

}

/*
HEADER SETTING
*/
.logo{
    height: 35px;
}

.mobile_logo{
    display: none;
}

.bell{
    height: 20px;
}

/*
SIDEBAR LEFT SETTING
*/
.sidebar{
    width: 160px;
    height: calc(100vh - 71px);
    background-color: rgb(0, 0, 156);
    border: 1px dashed white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top_sidebar{
    width: 100%;
    background-color: rgb(255, 106, 106);
    height: 150px;
}

.bottom_sidebar{
    width: 100%;
    background-color: lime;
}


/*
TOPBAR MAIN SETTING
*/

.topbar{
    height: 150px;
    width: calc(100vw - 160px);
    background-color: rgb(248, 164, 55);
    border: 1px dashed white;
}

/*
TABLET
*/

@media screen and (max-width: 768px) {
    .sidebar{
        width: 60px;
    }

    .top_sidebar li{
        display: none;
    }

    .bottom_sidebar a{
        display: none;
    }
    
    .logo{
        display: none;
    }

    .mobile_logo{
        display: block;
        height: 40px;
    }
}

/*
MOBILE
*/
@media screen and (max-width: 550px) {
    .sidebar{
        width: 60px;
    }

    .top_sidebar li{
        display: none;
    }

    .bottom_sidebar a{
        display: none;
    }

    .logo{
        display: none;
    }

    .mobile_logo{
        display: block;
        height: 40px;
    }
}