/*
GENERAL SETTING
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
CONTAINER APP
*/

.container_app{
    height: 100vh;
    width: 100vw;
    background-color: #212529 ;
}

/*
HEADER SETTING
*/

.sec_header{
    border: 1px dashed white;
    height: 80px;
    width: 100%;
    background-color: grey;
}

.content_header{
    border: 1px dashed black;
    height: 100%;
    background-color: yellow;
    height: 80px;
    position: relative;
}

