/*
GENERAL SETTING
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
CONTAINER APP
*/
.container_app{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

main{
    background-color: #212529 ;
    display: flex;
    overflow: hidden;
}

/*
HEADER SETTING
*/

.logo{
    height: 35px;
}

.mobile_logo{
    display: none;
}

.bell{
    font-size: 20px;
    color: rgb(255, 187, 0);
}

/*
SEARCH BAR
*/

form{
    position: relative;
}

form > i{
    position: absolute;
    top: 25%;
    left: 5px;
}

input{
    width: 100%;
}

.p_left{
   padding-left:30px;   
}

.mr_10{
    margin-right: 12px;
}

/*
SIDEBAR LEFT SETTING
*/
.sidebar{
    width: 160px;
    display: flex;
    height: calc(100vh - 71px);
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.top_sidebar{
    width: 160px;
    height: 150px;
}

.bot_sidebar{
    width: 160px;
    position: fixed;
    bottom: 0;
}

.top_sidebar a{
    text-decoration: none;
    list-style: none;
    color: white;
}

.top_sidebar ul{
    line-height: 40px;
    margin-top: 20px;
}

.top_sidebar i{
    margin-right: 10px;
    font-size: 20px;
}

.bot_sidebar a{
    text-decoration: none;
    list-style: none;
    color: white;
    margin-left: 2rem;
}

.bot_sidebar i{
    margin-right: 10px;
    font-size: 20px;
    margin-bottom: 20px;
}

/*
TOPBAR MAIN SETTING
*/
.topbar{
    height: 130px;
    width: calc(100vw - 160px);
    background-color: #0d6efd;
}

/*
CONTENT SETTING
*/
.content{
    display: flex;
    flex-direction: column;
    width: calc(100% - 160px);
    overflow-y: auto;
    overflow-x: hidden;
}

.b_radius_top{
    border-top-left-radius: 0.25rem ;
    border-top-right-radius: 0.25rem ;
}

.color_black{
    color: black;
}

.stats{
    width: 100%;
}

/*
TABLET
*/
@media screen and (max-width: 768px) {
    .sidebar{
        width: 60px;
    }

    .bot_sidebar{
        width: 60px;
    }
    
    .logo{
        display: none;
    }

    .mobile_logo{
        display: block;
        height: 40px;
    }

    .topbar{
        width: 100vw;
    }

    .content{
        width: calc(100% - 60px);
    }

    .d_none{
        display: none;
    }

    .top_sidebar{
        width: 60px;
    }

    .top_sidebar a span, .bot_sidebar a span{
        display: none;
    }

    .top_sidebar a i, .bot_sidebar a i{
        align-items: center;
    }

    .top_sidebar ul, .top_sidebar ul{
        padding-left: 1.1rem;
    }

    .bot_sidebar a{
        margin-left: 1.1rem
    }
    
}

/*
MOBILE
*/
@media screen and (max-width: 550px) {
    .sidebar{
        width: 60px;
    }

    .bot_sidebar{
        width: 60px;
    }

    .logo{
        display: none;
    }

    .mobile_logo{
        display: block;
        height: 40px;
    }

    .topbar{
        width: 100vw;
    }

    .top_sidebar{
        width: 60px;
    }
}

/*
DESKTOP LARGE
*/
@media screen and (max-width: 1550px) {
    .d_none{
        display: none;
    }
}